<p>entregas-listagem works!</p>

<!-- <div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Transação</th>
        <th scope="col">Valor</th>
        <th scope="col">ID do Cliente</th>
        <th scope="col">Cliente</th>
        <th scope="col">Endereco</th>
        <th scope="col">Núemro do Pedido</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of entregas">
        <th scope="row">{{e.transacao}}</th>
        <td>{{e.valor}}</td>
        <td>{{e.cliente}}</td>
        <td>{{e.nome}}</td>
        <td>{{e.endereco}}</td>
        <td>{{e.pedido}}</td>
      </tr>
    </tbody>
  </table>
</div> -->
